.orderitemcontainer {
    border-top: 1px solid lightgray;
}
.cartitemtitlename {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
        Helvetica, Arial, sans-serif;
    color: #1d1d1f;
}
.cartitemtitlesummary {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
        Helvetica, Arial, sans-serif;
    color: #1d1d1f;
}
.btntitleamount {
    font-size: 1.5em;
}
.cartitemtitle {
    padding: 40px 0 50px 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}
.applecareplus {
    padding: 0 0 20px 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.applecaretitle {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    font-weight: 600;
}
.applecareplusdetail ul li {
    line-height: 1.35718;
    letter-spacing: 0;
    font-family: SF Pro TH, SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue,
        Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 5px;
    margin-left: 16px;
}
.deliverydetail {
    padding: 0 0 20px 30px;
    margin-bottom: 30px;
}
.deliverydetail span {
    font-size: 17px;
    font-weight: 600;
}
.deliverydetailitem {
    font-size: 14px;
}
