.navDefault {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 0.8rem;
}
.logoPic {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.navButton {
    color: white;
}
.navButton:hover {
    color: aquamarine;
}
.navLink a {
    text-decoration: none;
    color: white;
}
