.product-nav {
    margin-top: 14px;
    position: sticky;
    border-bottom: 1px solid lightgray;
    padding: 0 0 10px 0;
}
.nav-title {
    display: flex;
    justify-content: space-between;
}
.product-nav-name {
    font-size: 21px;
    font-weight: 600;
    text-align: left;
}
.productpic {
    padding-top: 50px;
    width: 100%;
}
.Product-header {
    line-height: 1.35;
    font-family: SF Pro TH, SF Pro Display, SF Pro Icons, AOS Icons,
        Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 40px;
    padding-bottom: 11px;
    font-weight: 500;
    padding: 40px 80px 0;
}
.model-lebel {
    font-size: 17px;
    font-weight: 600;
    color: #1d1d1f;
}
input[type='radio'] + label {
    margin-top: 0.82353rem;
    padding: 14px;
    border-radius: 12px;
    height: 83px;
    align-items: center;
    border-color: #d2d2d7;
}
input[type='radio']:checked + label {
    /* background-color: #76cf9f; */
    border: 2px solid #0071e3;
}
input[type='radio']:hover + label {
    border: 1px solid gray;
}
.detailsummary {
    margin: 20px 0 0 0;
    background-color: #fbfbfd;
}
