.productCard {
    padding: 30px;
    border-radius: 15px;
    transition: box-shadow 0.4s;
}
.productCard:hover {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}
.productPicture {
    width: 100%;
}
.productName {
    font-weight: 500;
    font-size: 1.2em;
    padding: 10px 0 0 0;
}
.productDetail {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4);
}
.productPrice {
    color: red;
}
