.productCard {
    background-color: lightgray;
    padding: 10px;
    width: 80%;
}
.productPicture {
    background-color: white;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
}
.productPrice {
    text-align: right;
}
