.homeBody {
    padding: 10px 0px 60px;
}
.homeBanner {
    /* width: 100%; */
    height: 400px;
    background-color: lightgray;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: white;
}
.productCardContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.mainCategory {
    text-align: center;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: auto;
}
.categoryItem {
    padding: 20px 0;
}
